<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta codigoSemana3=""forYourEyesOnly">
    <link rel="icon" type="image/x-icon" th:href="@{/public/favicon.ico}">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title> Noticias -com Spring </title>
</head>

<body>

    <nav id="menu">
        <ul>
            <li><a href="/"> Início</a></li>
            <li><a href="/adicionarPessoa">Adicionar Pessoa </a></li>
            <li><a href="/listarPessoas">Listar Pessoas </a></li>
            <li><a class="active" href="/public/noticias.html">Canal de Noticias </a></li>
            <li><a href="/public/contato.html">Mande um E-mail </a></li>
            <li class="right"> <a href="/public/sobre.html">Sobre o Site </a></li>
        </ul>
    </nav>

    <div class="links">
        <h1>Catalogo de Sites de Noticias</h1>
        <H2> Veja as Notícias no G1</H2>

        <a href="https://g1.globo.com/" target="_blank">G1.globo.com </a>

        <H2>Veja as Notícias no Irish Times</H2>

        <a href="https://www.irishtimes.com/" target="_blank"> Irish Times</a>
    </div>

</body>

</html>