<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta codigoSemana3=""forYourEyesOnly">
    <link rel="icon" type="image/x-icon" th:href="@{/public/favicon.ico}">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title> Listar Pessoas -com Spring </title>
</head>

<body>

    <nav id="menu">
        <ul>
            <li><a href="/"> Início</a></li>
            <hr/>
            <li><a  href="/adicionarPessoa">Adicionar Pessoa </a></li>
            <li><a class= "active" href="/listarPessoas">Listar Pessoas </a></li>
            <li><a href="/public/noticias.html"> Canais de Notícias </a></li>
            <li><a href="/public/contato.html">Mande um E-mail  </a></li>
            <li class="right"> <a href="/public/sobre.html">Sobre o Site </a></li>
        </ul>
    </nav>

    <div class="tabela">
       <center> <h1> Lista de pessoas cadastradas</h1></center>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome Completo</th>
                    <th>Data de Nascimento</th>
                    <th>E-Mail</th>
                    <th>Sexo</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umaPessoa: ${pessoas}">
                    <td th:text="${Pessoa.id}"></td>
                    <td th:text="${Pessoa.nome}"></td>
                    <td>
                        <a th:href="'mailto:'+${Pessoa.email}" th:text="${Pessoa.email}"></a>
                    </td>
                    <td th:text="${#temporals.format(Pessoa.dataNascimento,'dd/MM/yyyy')}"></td>
                    <td th:text="${Pessoa.sexo}"></td>
                    <td>
                        <a th:href="@{/editar/{id}(id=${Pessoa.id})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/remover/{id}(id=${Pessoa.id})}">Remover</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>