<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UFT-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <title>Adicionar Clientes -com Spring</title>
  </head>

  <body>
    <nav id="menu">
      <ul>
        <li><a href="/"> Início</a></li>
        <li>
          <a class="active" href="/adicionarCliente">Adicionar Cliente </a>
        </li>
        <li><a href="/listarClientes">Listar Cliente </a></li>
        <li><a href="/public/contato.html">Contato</a></li>
        <li class="right"><a href="/public/sobre.html">Sobre a Loja </a></li>
      </ul>
    </nav>

    <div class="addcliente">
      <h1>Adicionar Cliente</h1>

      <form
        method="POST"
        th:object="${cliente}"
        th:action="@{/adicionarCliente}"
      >
        <p>
          Nome Completo*:
          <input
            type="text"
            placeholder="Digite seu nome Completo"
            th:field="*{nome}"
            required
          />
        </p>
        <p>
          Cidade*:
          <input
            type="text"
            placeholder="Digite sua cidade"
            th:field="*{cidade}"
            required
          />
        </p>
        <p>
          Cep*:
          <input
            type="text"
            placeholder="Digite seu Cep"
            th:field="*{cep}"
            required
          />
        </p>
        <p>Genero*:</p>

        <p>
          <input
            type="radio"
            name="genero"
            value="Masculino"
            th:field="*{genero}"
            required
          />Masculino
        </p>

        <p>
          <input
            type="radio"
            name="genero"
            value="feminino"
            th:field="*{genero}"
            required
          />Feminino
        </p>

        <p>
          <input
            type="radio"
            name="genero"
            value="Não Informar"
            th:field="*{genero}"
            required
          />Não Informar
        </p>
        <p>
          E-mail*:
          <input
            type="email"
            placeholder="nome@dominio.com"
            th:field="*{email}"
            required
          />
        </p>
        <p>
          Contato (Whatsapp)*:
          <input
            type="text"
            placeholder="Digite seu contato"
            th:field="*{contato}"
            required
          />
        </p>

        <input type="reset" id="reset" value="Limpar" />
        <input type="submit" id="submit" value="Adicionar!" />
      </form>

      <p>*Campo Obrigatório</p>
    </div>
  </body>
</html>
