<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UFT-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
    <title> Listar Produtos -com Spring </title>
</head>

<body>

    <nav id="menu">
        <ul>
            <li><a href="/"> Início</a></li>
            <li><a href="/adicionarCliente">Adicionar Clientes </a></li>
            <li><a href="/listarClientes">Listar Clientes </a></li>
            <li><a href="/adicionarProdutos">Adicionar Produtos </a></li>
            <li><a class="active" href="/listarProdutos">Listar Produtos </a></li>
            <li class="right"> <a href="/public/sobre.html">Sobre a Loja </a></li>
        </ul>
    </nav>

    <div class="tabela">
       <center> <h1> Lista de Produtos cadastrados</h1></center>

        <table>
            <thead>
                <tr>
                    <th>codigo</th>
                    <th>Nome do produto </th>
                    <th>Marca</th>
                    <th>Altura</th>
                    <th>Largura</th>
                    <th>Profundidade</th>
                    <th>Volume</th>
                    <th>Peso</th>
                    <th>Preço de compra</th>
                    <th>Preço de Venda</th>
                    <th>Data de Cadastro</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto:${produtos}">
                    <td th:text="${produto.codigo}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.marca}"></td>
                    <td th:text="${produto.altura}"></td>
                    <td th:text="${produto.largura}"></td>
                    <td th:text="${produto.profundidade}"></td>
                    <td th:text="${produto.volume}"></td>
                    <td th:text="${produto.peso}"></td>
                    <td th:text="${produto.precocompra}"></td>
                    <td th:text="${produto.precovenda}"></td>
                    <td th:text="${produto.datacadastro}"></td>
                    <td>
                        <a th:href="@{/edita/{codigo}(codigo=${produto.codigo})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/remove/{codigo}(codigo=${produto.codigo})}">Remover</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>