<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UFT-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
    <title> Listar Clientes -com Spring </title>
</head>s

<body>

    <nav id="menu">
        <ul>
            <li><a href="/"> Início</a></li>
            <li><a href="/adicionarCliente">Adicionar Clientes </a></li>
            <li><a class="active"href="/listarClientes">Listar Clientes </a></li>
            <li><a href="/adicionarProdutos">Adicionar Produtos </a></li>
            <li><a href="/listarProdutos">Listar Produtos </a></li>
            <li class="right"> <a href="/public/sobre.html">Sobre a Loja </a></li>
        </ul>
    </nav>

    <div class="tabela">
       <center> <h1> Lista de Clientes cadastrados</h1></center>
       
        <table>
            <thead>
                <tr>
                    <th>codigo</th>
                    <th>Nome Completo</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                    <th>Genero</th>
                    <th>Email</th>
                    <th>Contato(Whatsapp)</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente:${clientes}">
                    <td th:text="${cliente.codigo}"></td>
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.cidade}"></td>
                    <td th:text="${cliente.cep}"></td>
                    <td th:text="${cliente.genero}"></td>
                    <td>
                        <a th:href="'mailto:'+${cliente.email}" th:text="${cliente.email}"></a>
                    </td>
                    <td th:text="${cliente.contato}"></td>
                    <td>
                        <a th:href="@{/editar/{codigo}(codigo=${cliente.codigo})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/remover/{codigo}(codigo=${cliente.codigo})}">Remover</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>